@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  /* background-position: center;
  background-size: contain;
  background-repeat: no-repeat; */
}
.wrapper {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* flex-wrap: wrap-reverse; */
  background-image: linear-gradient(to right, #000428, #004e92);
}
.navBar {
  position: absolute;
  top: 10%;
  left: 5%;
}
/* .logo {
  height: 4rem;
  margin: 2rem 0 0 4rem;
} */
.heroCont {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.abb {
  font-size: 1.8rem;
  font-weight: 600;
}
.mainHead {
  margin-top: 5rem;
}
/* .thinHead {
  font-size: 6rem;
  font-weight: 300;
} */
.mainHead h1 {
  font-size: 8rem;
  font-weight: 600;
  font-family: "Roboto Condensed", sans-serif;
}
/* .soonHead {
  height: 4rem;
  width: 4rem;
  padding: 4rem;
  background-image: linear-gradient(to top, #000046, #1cb5e0);
  color: white;
  border-radius: 50%;
} */
.mailTxt {
  margin-top: 1.2rem;
  cursor: pointer;
  /* transition: all 0.5s ease linear; */
  color: white;
  text-decoration: none;
}
.mail {
  text-decoration: underline;
}
.link {
  color: white;
  text-decoration: none;
}
.imgBox {
  height: 95%;
  background-color: white;
  width: 95%;
  border-radius: 1.5rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.267);
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
.imageDis {
  margin: 13rem 3rem;
  width: 27rem;
  height: 35rem;
}
.handsImg {
  width: 100%;
  object-fit: contain;
  /* width: 5rem; */
}

.video-container {
  width: 70rem;
}

@media only screen and (max-width: 1000px) {
  .imageDis {
    height: 50vh;
  }
  .mainHead h1 {
    font-size: 8rem;
  }
}
@media only screen and (max-width: 850px) {
  .mainHead h1 {
    font-size: 6rem;
  }

  .heroCont {
    padding: 1rem 3rem;
  }
}
@media only screen and (max-width: 700px) {
  .wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .imageDis {
    margin: 3rem 3rem;
    width: 25rem;
    height: 35vh;
  }
  .mainHead {
    margin-top: 0rem;
  }
  .heroCont {
    margin-top: 1rem;
  }
  .video-container {
    width: 40rem;
    margin-block: 5rem;
  }
}
@media only screen and (max-width: 500px) {
  .mainHead h1 {
    font-size: 6rem;
  }
  .imageDis {
    margin: 14rem 3rem 4rem 3rem;
  }
  .video-container {
    width: 30rem;
    margin-block: 5rem;
  }
}
